@model MyPortfolioWebsite.DAL.Entities.Reference

@{
    ViewData["Title"] = "CreateReference";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">References</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Create Reference</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <div class="form-group">
                                <label for="ReferenceName">Reference Name</label>
                                <input type="text" name="ReferenceName" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="Title">Position</label>
                                <input type="text" name="Title" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="Description">Description</label>
                                <textarea rows="4" name="Description" class="form-control"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="ImageUrl">Image Url</label>
                                <input type="text" name="ImageUrl" class="form-control" />
                            </div>

                            <button type="submit" class="btn btn-primary">Add Reference</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

