@model MyPortfolioWebsite.DAL.Entities.Cv

<div class="row about-content about-content--buttons">

    <div class="col-six tab-full left">
        <a href="@Model.CvLink" class="btn btn--primary full-width" target="_blank">
            View My CV
        </a>
    </div>

    <div class="col-six tab-full right">
        <a class="btn full-width smoothscroll" href="#contact">Reach Out Now</a>
    </div>

</div> <!-- end about-content buttons -->